body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 auto;
  width: 30%;
}

.container {
  width: 100%;
  display: block;
  margin-top: 100px;
}
 
.input-label {
  display: block;
  color: #b6b6b6;
  font-size: 0.8rem;
  margin: 20px 0 5px;
}

.input-text {
  color: #333333;
  border: none;
  border-bottom: 1px solid #b6b6b6;
  font-size: 1rem;
  margin: 2px 0 5px;
  width: 100%;
}

.input-text:focus-visible {
  border: none;
  border-bottom: 1px solid #333333;
  outline: none;
}


.button {
  background-color: #00c8b3;
  border: none;
  border-radius: 30px;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  margin: 20px 0;
  padding: 15px;
  width: 100%;
}

.button:hover {
  opacity: 70%;
}

.button:disabled {
  color: #dddcdc;
  background-color: #f6f6f6;
}
